@font-face {
    font-family:"Satisfy" ;
    src: url("fonts/Satisfy-Regular.ttf");
}
@font-face {
    font-family:"Beau Rivage";
    src:url("fonts/BeauRivage-Regular.ttf");
}
@font-face {
    font-family:"Electrolize";
    src:url("fonts/Electrolize-Regular.ttf");
}
